{{!-- Notes tab partial --}}
<div class="tab notes" data-tab="notes">
  <div class="notes-container">
    <label for="actor-notes-textarea" class="notes-label">{{localize 'MF.NotesLabel' 'Notes'}}</label>
    <textarea id="actor-notes-textarea" name="system.notes" class="notes-textarea" rows="8" placeholder="Enter any extra info here...">{{system.notes}}</textarea>
  </div>
</div>
